

<% flash.each do |name,messages| %>
<ul>
<li><%= messages %></li>
</ul>
<% end %>

<table>
  <thead>
   <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Body</th>
   </tr>
  </thead>
  <tbody>
   <% @articles.each do |article| %>
     <tr>
      <td><%= article.id %></td>
      <td><%= article.name %></td>
      <td><%= article.body %></td>
      <td><%= link_to 'Show', articles_show_path(article) %></td>
      <td><%= link_to 'Edit', articles_edit_path(article) %></td>
      <td><%= link_to 'Delete', articles_delete_path(article), method: :delete, data: {confirm: "Are you sure?"} %></td>
     </tr>
   <% end %>
  </tbody>
</table>

<%= link_to 'New Article', articles_new_path %>



