<!DOCTYPE html>
<html>
 <head>
  <title>Rails activity - Blog App</title>
   <%= csrf_meta_tags %>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
 </head>
<body>
<%= render 'layouts/navigation' %>

<% flash.each do |name,messages| %>
<ul>
<li><%= messages %></li>
</ul>
<% end %>
<%= yield %>
  </body>
</html>
